asyncio
arxiv
bs4~=0.0.2
beautifulsoup4~=4.13.4
Crawl4AI~=0.7.4
chromadb
fitz
FreeSimpleGUI
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
html2text
langchain
langchain-community
langchain-googledrive
matplotlib
nest_asyncio
oauthlib
o365
numpy
pandas
pydantic
pillow
pathlib~=1.0.1
playwright~=1.54.0
pymupdf
pytube
requests
typing~=3.7.4.3
youtube-transcript-api
