anthropic
asyncio
arxiv
bs4
beautifulsoup4
cartopy
Crawl4AI
chromadb
docx2txt
extract_msg
fitz
FreeSimpleGUI
google
google-genai
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
googlemaps
groq
grokipedia-api
html2text
http.client
langchain
langchain-community
langchain-googledrive
langchain-google-community
matplotlib
nest_asyncio
oauthlib
o365
owslib
openai
openmeteo-requests
numpy
pandas
pydantic
pillow
pathlib
playwright
pymupdf
pytube
python-magic
python-pptx
requests
requests-cache
retry-requests
sscws
typing
unstructured
wikipedia
youtube-transcript-api
